
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <base href="/" />
    <title>NgApp</title>
</head>
<body>
    <app-root>Loading...</app-root>
    <script type="text/javascript" src="~/Scripts/NgApp/ngCli/runtime.js"></script>
    <script type="text/javascript" src="~/Scripts/NgApp/ngCli/polyfills.js"></script>
    <script type="text/javascript" src="~/Scripts/NgApp/ngCli/styles.js"></script>
    <script type="text/javascript" src="~/Scripts/NgApp/ngCli/vendor.js"></script>
    <script type="text/javascript" src="~/Scripts/NgApp/ngCli/main.js"></script>
</body>
</html>
